.Estatisticas_Gerais {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    justify-content: center;
}

.Graficos {
    max-width: calc(100% - 30px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Graficos .Barra_linha {
    max-width: calc(100% - 30px);
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.Graficos .Barra_linha>canvas {
    max-width: 300px;
    max-height: 250px;
    aspect-ratio: 1/1;
}

.GraficosPizza {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.FiltrosData {
    width: 250px;
}

.FiltrosData>h5 {
    width: 100%;
}

.FiltrosData .react-datepicker-wrapper,
.FiltrosData .react-datepicker-wrapper>div,
.FiltrosData .react-datepicker-wrapper>div>input {
    width: 100%;
}

.FiltrosData>button {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
}

.FiltrosData>button:active {
    background-color: #45fc5575;
}

@media screen and (max-width: 0px) {}