.Estatisticas_Gerais {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    justify-content: center;
}

.Graficos {
    max-width: calc(100% - 30px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Graficos .Barra_linha{
    max-width: calc(100% - 30px);
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.Graficos .Barra_linha > canvas{
    max-width: 300px;
    max-height: 250px;
    aspect-ratio: 1/1;
}

.GraficosPizza {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 0px) {
    
}

