:root {
  --Background: #D9D9D9;
  --AtentionColor: #FFCE04;
  --BorderColor: #571E78;
  --ButtonColor: #E159FF;
  --Black: #000000;
  --White: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--Background);
}